*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color:#373A39;
    font-style: normal;


}

.container{
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

.logo__top-img{
    width: 10%;
}

.title{
    font-size: 60px;
    line-height: 75px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1.65px;
    color: #242121;
    padding-bottom: 18px;
    align-self: flex-start;
    position: relative;
}

.title::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: #559219;
    bottom: 0;
    left: 0;
}
    
.header__top-inner{
    padding: 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-items: center;
}

.menu__btn{
    display: none;
}

.menu__list{
    display: flex;
}

.menu__list-item + .menu__list-item{
    margin-left: 32px;
}

.menu__list-link{
    padding: 0 9px 9px;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #373A39;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.6px;
    transition: all 0.2s;
}

.menu__list-link:hover{
    border-bottom: 2px solid #559219;
}

.header__content{
    background-image: url('../images/bg_1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.header__content-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 90px);
    
}

.header__title{
    font-weight: 500;
    line-height: 88px;
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin-top: auto;
    margin-bottom: 19px;
    padding-top: 100px;
}

.header__subtitle{
    font-weight: bolder;
    line-height: 26px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.74286px;
    color: #FFFFFF;
    margin-bottom: auto;
    text-transform: uppercase;
    max-width: 800px;
    text-align: center;

}

.header__icon{
    margin-bottom: 62px;
}

.about{

    padding: 150px 0 144px;
}

.about__inner{
    display: flex;
    justify-content: space-between;
}

.about__list-item{
    padding-left: 10px;
}

.about__last{
    padding-top: 15px;
}


.about__text p{
    max-width: 770px;
    margin-bottom: 16px;

}

.about__title{
    font-size: 48px;
}

.slider-blog{
    background-color: #F8F6FA;
    padding: 115px 0;
}

.slider-blog__inner{
    
}

.slider-blog__img{
    width: 1000px;
    margin: 0 auto;
}

.slider-blog__item{
    padding: 40px 0;
    
}

.slider-blog__item__title{
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
    color: #242121;
    max-width: 656px;
    margin-bottom: 10px;
}

.slider-blog__item-descr{
    max-width: 580px;    
}

.slick-dots{
    display: flex;
}

.slick-dots button{
    background-color: #242121;
    opacity: 0.4;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    font-size: 0;
    padding: 0;
    border: none;
}
 
.slick-dots li + li {
    margin-left: 13px ;
}

.slick-active button{
    opacity: 1;
    width: 10px;
    height: 10px;
    transform: translateY(-2px);
}

.slick-prev,
.slick-next{
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.slick-prev{
    left: -95px;
}

.slick-next{
    right: -95px;
}


.footer__top{
    padding: 110px 10px 60px;
    background-color: #333;
    text-align: center;
}    

.footer__logo{
    display: inline-block;
    padding: 0 35px 4px;
    margin-bottom: 70px;
    
    
}

.footer__logo-img{
    margin: 0 auto;
    border-bottom: 3px solid #559219;
    padding: 0 15px 15px;
    box-sizing: content-box;
    width: 8%;
}

ul.footer__social{
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
    
}

.footer__social-list{
    padding: 0 15px;
    
}

.footer__social-link{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;    
    text-decoration: none;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__contact{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.footer__contact a{
    display: block;
    margin-bottom: 10px 0;
    color: #FFFFFF;
    text-decoration: none;
}

.go-top{
    display: inline-block;
}

.footer__copy{
    padding: 40px 10px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: #CCCCCC;
    background: #2A2C2B;    
}



@media(max-width: 1440px) {
    .magic__inner{
        padding: 50px 0;
    }
    .slick-prev{
        left: 0;
    }

    .slick-next{
        right: 0;
    }

    .slider-blog__item{
        padding: 120px 60px;
    }

    ul.slick-dots{
        margin-left: 60px;
    }

}


@media(max-width: 1200px) {
    .about__inner{
        display: block;
    }

    .about__title,
    .expertise_title,
    .team__title,
    .pricing__title,
    .connection__title{
        margin-bottom: 50px;
    }

    .about,
    .expertise,
    .portfolio,
    .slider-blog,
    .team,
    .pricing,
    .connection{
        padding: 75px 0;
    }

    .about__text p{
        max-width: 100%;
    }

    .title{
        line-height: 65px;
        font-size: 48px;  
    }
    
    .portfolio__filter-btn{
        margin-right: 0;
    }

    .button__portfolio-btn{
        margin-left: 25px;
        margin-right: 0;
    }

    .team__items,
    .pricing__items{
        column-gap: 15px;
    }

    .clients__list{
        column-gap: 20px;
    }
    
}

@media(max-width: 992px) {

    .logo__top-img {
            width: 12%;
        }
   
    .expertise__inner{
        display: block;
        margin-bottom: 75px;
    }

    .expertise__info{
        width: 100%;
        margin-right: 0;
    }

    .expertise__items{
        display: block;

    }
    .expertise__item{
    width: 100%;   
    margin-bottom: 40px;  
    }

    .magic{
        background-image: none;
    }

    .magic__inner{
        max-width: 100%;
        margin-left: 0;
    }
    .magic__title{
        margin-bottom: 50px;
    }

    .portfolio__content{
        column-count: 3;
        margin-bottom: 40px;
    }    

    .portfolio__top{
        display: block;
    }

    .portfolio__filter-btn{
       margin-top: 40px; 
    }
    .portfolio__top{
        margin-bottom: 50px;
    }

    .zero{
       margin-left: 0; 
    }

    .connection{
        background-image: none;
    }

    .form{
        max-width: 100%;
    }

    .footer__top{
        padding-top: 75px;
    }

    .footer__logo{
        margin-bottom: 40px;
    }

    ul.footer__social{
        margin-bottom: 40px;
        flex-wrap: wrap;
    }

    .footer__social-list{
        width: 33.333%;
        margin-bottom: 25px;
    }
}



@media(max-width: 768px) {

    .logo__top-img {
            width: 12%;
        }

    .menu__list{
        /* display: none; */
        position: absolute;
        left: 0;
        right: 0;
        top: 0px;
        background-color: #000;
        display: block;
        text-align: center;
        transform: translateY(-200%);
        transition: all .5s;
    }

    .title{
        font-size: 36px;
        line-height: 44px;
    }

    .menu__list-item + .menu__list-item{
        margin-left: 0;
    }
    
    .menu__list-link{
        padding: 15px 0;
        display: block;
        color: #fff;
        font-size: 16px;
    }

    .logo{
        position: relative;
        z-index: 2;
    }

    ul.menu__list{

    padding: 90px 0 15px;

    }

    .menu__btn{

        display: block;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        margin-bottom: 10px;
        position: relative;
        z-index: 2;

    }

    .header__top-inner.header__top-inner--active .menu__list{
        transform: translateY(0);
    }

    .header__top-inner.header__top-inner--active path{
        fill: white;
    }

    .header__top-inner.header__top-inner--active .menu__btn rect{
        fill: white;
    }

    .header__title{
        font-size: 50px;
        line-height: 65px;
        margin-bottom: 10px;
    }

    .header__subtitle{
        line-height: 16px;
        font-size: 14px;
    }

    .portfolio__content{
        column-count: 2;
    }    
    .button__portfolio-btn{
        display: block;
        margin-bottom: 20px;
    }

    .button__portfolio-btn + .button__portfolio-btn{
        margin-left: 0;
    }
    .portfolio__add{
        margin-bottom: 40px;
    }
    .blockquote{
        margin-bottom: 40px;
        padding: 0 10px;
    }
    .portfolio__video{
        margin-bottom: 75px;
    }

    .portfolio__numbers{
        flex-wrap: wrap;
    }
    .portfolio__numbers-items{
        width: 50%;
        margin-bottom: 40px;
    }

    .slider-blog__item{
        padding: 40px 0;
    }

    ul.slick-dots{
        margin-left: 0;
    }
    .slider-blog__item__title{
        font-size: 24px;
        line-height: 32px;
    }

    .pricing__items{
        display: block;
    }


    ul.pricing__item{
        margin: 0 auto 20px;
        max-width: 500px;
        width: 100%;

    }

    .clients__list{
        flex-wrap: wrap;
        justify-content: space-around;

    }
    .clients__list li{
        margin-bottom: 25px;
 
    }

}

@media(max-width: 640px) {
    .team__items{
        display: block;
    }
    .team__item{
        margin-bottom: 25px;

    }
    .team__item img{
        margin: 0 auto;
    }

}

@media(max-width: 440px) {

    .header__content {
            background-image: url('../images/bg_a1.jpg');
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: cover;
    
        }

        .header__title {
            margin-top: 95px;
        }

    .logo__top-img {
            width: 18%;
        }

    .footer__logo-img {
        width: 18%;
    }

    .header__title{
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 10px;
    }

    .header__subtitle{
        line-height: 14px;
        font-size: 12px;
    }

    .title,
    .about__title{
        line-height: 42px;
        font-size: 28px;  
    }

    .footer__social-list{
        width: 50%;

    }

}

@media(max-width: 340px) {
    .expertise__item{
        padding-left: 0;
        padding-top: 60px;
    }

    .portfolio__numbers-items{
        width: 100%;
    }
    .slider-blog__item__title{
        font-size: 20px;
        line-height: 28px;
    }

}
